ckanext/spatial/validation/xml/iso19139ngdc/ngdcSchema/fgdc-std-001-1998/fgdc-std-001-1998-sect07-ann.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" blockDefault="#all"
	xmlns:sch="http://www.ascc.net/xml/schematron">
<xsd:annotation>
	<xsd:documentation>
		Section 7 : Metadata Reference Information
	</xsd:documentation>
</xsd:annotation>

<xsd:element name="metainfo" type="metainfoType">
<xsd:annotation>
	<xsd:documentation>
		Element: Metadata Reference Information
		Section: 7
		Description: information on the currentness of the metadata information, and the responsible party.
	</xsd:documentation>
	<xsd:appinfo>
		<sch:title>Metadata Reference Information</sch:title>
	</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:complexType name="metainfoType">
	<xsd:sequence>
		<xsd:element ref="metd"/>
		<xsd:element ref="metrd" minOccurs="0"/>
		<xsd:element ref="metfrd" minOccurs="0"/>
		<xsd:element ref="metc"/>
		<xsd:element ref="metstdn"/>
		<xsd:element ref="metstdv"/>
		<xsd:element ref="mettc" minOccurs="0"/>
		<xsd:element ref="metac" minOccurs="0"/>
		<xsd:element ref="metuc" minOccurs="0"/>
		<xsd:element ref="metsi" minOccurs="0"/>
		<xsd:element ref="metextns" minOccurs="0" maxOccurs="unbounded"/>
	</xsd:sequence>
	</xsd:complexType>

<xsd:element name="metd" type="metdType">
<xsd:annotation>
	<xsd:documentation>
		Element: Metadata Date
		Section: 7.1
		Description: the date that the metadata were created or last updated.
	</xsd:documentation>
	<xsd:appinfo>
		<sch:title>Metadata Date</sch:title>
	</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:simpleType name="metdType">
	<xsd:annotation>
		<xsd:documentation>
			Type: date
			Domain: free date
		</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="FGDCdate"/>
</xsd:simpleType>

<xsd:element name="metrd" type="metrdType">
<xsd:annotation>
	<xsd:documentation>
		Element: Metadata Review Date
		Section: 7.2
		Description: the date of the latest review of the metadata entry.
	</xsd:documentation>
	<xsd:appinfo>
		<sch:title>Metadata Review Date</sch:title>
	</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:simpleType name="metrdType">
	<xsd:annotation>
		<xsd:documentation>
			Type: date
			Domain: free date; Metadata Review Date later than Metadata Date
		</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="FGDCdate"/>
</xsd:simpleType>

<xsd:element name="metfrd" type="metfrdType">
<xsd:annotation>
	<xsd:documentation>
		Element: Metadata Future Review Date
		Section: 7.3
		Description: the date by which the metadata entry should be reviewed.
	</xsd:documentation>
	<xsd:appinfo>
		<sch:title>Metadata Future Review Date</sch:title>
	</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:simpleType name="metfrdType">
	<xsd:annotation>
		<xsd:documentation>
			Type: date
			Domain: free date; Metadata Future Review Date later than Metadata Review Date
		</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="FGDCdate"/>
</xsd:simpleType>

<xsd:element name="metc" type="metcType">
<xsd:annotation>
	<xsd:documentation>
		Element: Metadata Contact
		Section: 7.4
		Description: the party responsible for the metadata information (see Section 10 for schema definitions).
	</xsd:documentation>
	<xsd:appinfo>
		<sch:title>Metadata Contact</sch:title>
	</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:complexType name="metcType">
	<xsd:sequence>
		<xsd:element ref="cntinfo"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:element name="metstdn" type="metstdnType">
<xsd:annotation>
	<xsd:documentation>
		Element: Metadata Standard Name
		Section: 7.5
		Description: the name of the metadata standard used to document the data set.
	</xsd:documentation>
	<xsd:appinfo>
		<sch:title>Metadata Standard Name</sch:title>
	</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:simpleType name="metstdnType">
	<xsd:annotation>
		<xsd:documentation>
			Type: text
			Domain: "FGDC Content Standard for Digital Geospatial Metadata" free text
		</xsd:documentation>
		<xsd:documentation>
			Enumerated value also matches "free text"

			<![CDATA[
				<xsd:restriction base="xsd:token">
					<xsd:enumeration value="FGDC Content Standard for Digital Geospatial Metadata"/>
				</xsd:restriction>
			]]>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="FGDCstring"/>
</xsd:simpleType>

<xsd:element name="metstdv" type="metstdvType">
<xsd:annotation>
	<xsd:documentation>
		Element: Metadata Standard Version
		Section: 7.6
		Description: identification of the version of the metadata standard used to document the data set.
	</xsd:documentation>
	<xsd:appinfo>
		<sch:title>Metadata Standard Version</sch:title>
	</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:simpleType name="metstdvType">
	<xsd:annotation>
		<xsd:documentation>
			Type: text
			Domain: free text
		</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="FGDCstring"/>
</xsd:simpleType>

<xsd:element name="mettc" type="mettcType">
<xsd:annotation>
	<xsd:documentation>
		Element: Metadata Time Convention
		Section: 7.7
		Description: form used to convey time of day information in the metadata entry. Used if time of day information is included in the metadata for a data set.
	</xsd:documentation>
	<xsd:appinfo>
		<sch:title>Metadata Time Convention</sch:title>
	</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:simpleType name="mettcType">
	<xsd:annotation>
		<xsd:documentation>
			Type: text
			Domain: "local time" "local time with time differential factor" "universal time"
		</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="xsd:token">
		<xsd:enumeration value="local time"/>
		<xsd:enumeration value="local time with time differential factor"/>
		<xsd:enumeration value="universal time"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:element name="metac" type="metacType">
<xsd:annotation>
	<xsd:documentation>
		Element: Metadata Access Constraints
		Section: 7.8
		Description: restrictions and legal prerequisites for accessing the metadata. These include any access constraints applied to assure the protection of privacy or intellectual property, and any special restrictions or limitations on obtaining the metadata.
	</xsd:documentation>
	<xsd:appinfo>
		<sch:title>Metadata Access Constraints</sch:title>
	</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:simpleType name="metacType">
	<xsd:annotation>
		<xsd:documentation>
			Type: text
			Domain: free text
		</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="FGDCstring"/>
</xsd:simpleType>

<xsd:element name="metuc" type="metucType">
<xsd:annotation>
	<xsd:documentation>
		Element: Metadata Use Constraints
		Section: 7.9
		Description: restrictions and legal prerequisites for using the metadata after access is granted. These include any metadata use constraints applied to assure the protection of privacy or intellectual property, and any special restrictions or limitations on using the metadata.
	</xsd:documentation>
	<xsd:appinfo>
		<sch:title>Metadata Use Constraints</sch:title>
	</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:simpleType name="metucType">
	<xsd:annotation>
		<xsd:documentation>
			Type: text
			Domain: free text
		</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="FGDCstring"/>
</xsd:simpleType>

<xsd:element name="metsi" type="metsiType">
<xsd:annotation>
	<xsd:documentation>
		Element: Metadata Security Information
		Section: 7.10
		Description: handling restrictions imposed on the metadata because of national security, privacy, or other concerns.
	</xsd:documentation>
	<xsd:appinfo>
		<sch:title>Metadata Security Information</sch:title>
	</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:complexType name="metsiType">
	<xsd:sequence>
		<xsd:element ref="metscs"/>
		<xsd:element ref="metsc"/>
		<xsd:element ref="metshd"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:element name="metscs" type="metscsType">
<xsd:annotation>
	<xsd:documentation>
		Element: Metadata Security Classification System
		Section: 7.10.1
		Description: name of the classification system for the metadata.
	</xsd:documentation>
	<xsd:appinfo>
		<sch:title>Metadata Security Classification System</sch:title>
	</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:simpleType name="metscsType">
	<xsd:annotation>
		<xsd:documentation>
			Type: text
			Domain: free text
		</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="FGDCstring"/>
</xsd:simpleType>

<xsd:element name="metsc" type="metscType">
<xsd:annotation>
	<xsd:documentation>
		Element: Metadata Security Classification
		Section: 7.10.2
		Description: name of the handling restrictions on the metadata.
	</xsd:documentation>
	<xsd:appinfo>
		<sch:title>Metadata Security Classification</sch:title>
	</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:simpleType name="metscType">
	<xsd:annotation>
		<xsd:documentation>
			Type: text
			Domain: "Top secret" "Secret" "Confidential" "Restricted" "Unclassified" "Sensitive" free text
		</xsd:documentation>
		<xsd:documentation>
			Enumerated values also match "free text"

			<![CDATA[
				<xsd:restriction base="xsd:token">
					<xsd:enumeration value="Top secret"/>
					<xsd:enumeration value="Secret"/>
					<xsd:enumeration value="Confidential"/>
					<xsd:enumeration value="Restricted"/>
					<xsd:enumeration value="Unclassified"/>
					<xsd:enumeration value="Sensitive"/>
				</xsd:restriction>
			]]>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="FGDCstring"/>
</xsd:simpleType>

<xsd:element name="metshd" type="metshdType">
<xsd:annotation>
	<xsd:documentation>
		Element: Metadata Security Handling Description
		Section: 7.10.3
		Description: additional information about the restrictions on handling the metadata.
	</xsd:documentation>
	<xsd:appinfo>
		<sch:title>Metadata Security Handling Description</sch:title>
	</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:simpleType name="metshdType">
	<xsd:annotation>
		<xsd:documentation>
			Type: text
			Domain: free text
		</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="FGDCstring"/>
</xsd:simpleType>

<xsd:element name="metextns" type="metextnsType">
<xsd:annotation>
	<xsd:documentation>
		Element: Metadata Extensions
		Section: 7.11
		Description: a reference to extended elements to the standard which may be defined by a metadata producer or a user community. Extended elements are elements outside the Standard, but needed by the metadata producer. If extended elements are created, they must follow the guidelines in Appendix D, Guidelines for Creating Extended Elements to the Content Standard for Digital Geospatial Metadata.
	</xsd:documentation>
	<xsd:appinfo>
		<sch:title>Metadata Extensions</sch:title>
	</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:complexType name="metextnsType">
	<xsd:sequence>
		<xsd:element name="onlink" minOccurs="0" maxOccurs="unbounded">
			<xsd:annotation>
				<xsd:documentation>
						Element: Online Linkage
						Section: 7.11.1
						Description: the name of an online computer resource that contains the metadata extension information for the data set.  Entries should follow the Uniform Resource Locator convention of the Internet.
				</xsd:documentation>
				<xsd:appinfo>
					<sch:title>Online Linkage</sch:title>
				</xsd:appinfo>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:annotation>
					<xsd:documentation>
						Type: text
						Domain: free text
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="FGDCstring"/>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element ref="metprof" minOccurs="0"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:element name="metprof" type="metprofType">
<xsd:annotation>
	<xsd:documentation>
		Element: Profile Name
		Section: 7.11.2
		Description: the name given to a document that describes the application of the Standard to a specific user community.
	</xsd:documentation>
	<xsd:appinfo>
		<sch:title>Profile Name</sch:title>
	</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:simpleType name="metprofType">
	<xsd:annotation>
		<xsd:documentation>
			Type: text
			Domain: free text
		</xsd:documentation>
	</xsd:annotation>
	<xsd:restriction base="FGDCstring"/>
</xsd:simpleType>

</xsd:schema>