ckanext/spatial/validation/xml/iso19115-2/19115/-1/msr/1.3.0/spatialRepresentation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
  xmlns="http://www.w3.org/2001/XMLSchema" 
  xmlns:gml="http://www.opengis.net/gml/3.2" 
  xmlns:gco="https://schemas.isotc211.org/19103/-/gco/1.2" 
  xmlns:gmw="https://schemas.isotc211.org/19136/-1/gmw/1.1" 
  xmlns:mcc="https://schemas.isotc211.org/19115/-1/mcc/1.3" 
  xmlns:msr="https://schemas.isotc211.org/19115/-1/msr/1.3" 
  elementFormDefault="qualified" 
  targetNamespace="https://schemas.isotc211.org/19115/-1/msr/1.3" 
  version="1.3.0"
    >
  <annotation>
    <documentation>Frequency with which modifications and deletions are made to the data after it is first produced</documentation>
  </annotation>
<!--  <include schemaLocation="msr.xsd"/>-->
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <import namespace="https://schemas.isotc211.org/19103/-/gco/1.2" schemaLocation="../../../../19103/-/gco/1.2.0/gco.xsd"/>
  <import namespace="https://schemas.isotc211.org/19136/-1/gmw/1.1" schemaLocation="../../../../19136/-1/gmw/1.1.0/gmw.xsd"/>
  <import namespace="https://schemas.isotc211.org/19115/-1/mcc/1.3" schemaLocation="../../../../19115/-1/mcc/1.3.0/mcc.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <!-- SMR 2015-02-12 definition of AbstractMD_SpatialRepresentation element added by hand; shapeChange doesn't seem to 
    handle abstract class in substitution for abstract class. GridSpatialRepresentation and VectorSpatialRepresentation in 
    autogenerated schema were in substitution group for AbstractObject.  -->
  <!-- =========================================================================== -->
  <element abstract="true" name="AbstractMD_SpatialRepresentation" substitutionGroup="mcc:Abstract_SpatialRepresentation" type="msr:AbstractMD_SpatialRepresentation_Type" id="ISO19115-1.147">
    <annotation>
      <documentation>digital mechanism used to represent spatial information</documentation>
    </annotation>
  </element>
  <!-- ........................................................................ -->
  <complexType abstract="true" name="AbstractMD_SpatialRepresentation_Type">
    <complexContent>
      <extension base="mcc:Abstract_SpatialRepresentation_Type">
        <sequence>
          <element minOccurs="0" name="scope" type="mcc:MD_Scope_PropertyType" id="ISO19115-1.147-1_ISO19115-1.420">
            <annotation>
              <documentation>level and extent of the spatial representation</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!-- ........................................................................ -->
  <complexType name="AbstractMD_SpatialRepresentation_PropertyType">
    <sequence minOccurs="0">
      <element ref="msr:AbstractMD_SpatialRepresentation"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
 <!-- end manually inserted part --> 
  <!-- =========================================================================== -->
  <element name="MD_GridSpatialRepresentation" substitutionGroup="msr:AbstractMD_SpatialRepresentation" type="msr:MD_GridSpatialRepresentation_Type" id="ISO19115-1.148">
    <annotation>
      <documentation>information about grid spatial objects in the resource</documentation>
    </annotation>
  </element>
  <!-- ........................................................................ -->
  <complexType name="MD_GridSpatialRepresentation_Type">
    <complexContent>
      <extension base="msr:AbstractMD_SpatialRepresentation_Type">
        <sequence>
          <element name="numberOfDimensions" type="gco:Integer_PropertyType" id="ISO19115-1.149_19103.Integer">
            <annotation>
              <documentation>number of independent spatial-temporal axes</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="1" name="axisDimensionProperties" type="msr:MD_Dimension_PropertyType" id="ISO19115-1.150_19115-1.170">
            <annotation>
              <documentation>information about spatial-temporal axis properties</documentation>
            </annotation>
          </element>
          <element name="cellGeometry" type="msr:MD_CellGeometryCode_PropertyType" id="ISO19115-1.151_19115-1.MD_CellGeometryCode">
            <annotation>
              <documentation>identification of grid data as point or cell</documentation>
            </annotation>
          </element>
          <element name="transformationParameterAvailability" type="gco:Boolean_PropertyType" id="ISO19115-1.152_19103.Boolean">
            <annotation>
              <documentation>indication of whether or not parameters for transformation between image coordinates and geographic or map coordinates exist (are available)</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!-- ........................................................................ -->
  <complexType name="MD_GridSpatialRepresentation_PropertyType">
    <sequence minOccurs="0">
      <element ref="msr:MD_GridSpatialRepresentation"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <!-- =========================================================================== -->
  <element name="MD_Georectified" substitutionGroup="msr:MD_GridSpatialRepresentation" type="msr:MD_Georectified_Type" id="ISO19115-1.153">
    <annotation>
      <documentation>grid whose cells are regularly spaced in a geographic (i.e., lat / long) or map coordinate system defined in the Spatial Referencing System (SRS) so that any cell in the grid can be geolocated given its grid coordinate and the grid origin, cell spacing, and orientation</documentation>
    </annotation>
  </element>
  <!-- ........................................................................ -->
  <complexType name="MD_Georectified_Type">
    <complexContent>
      <extension base="msr:MD_GridSpatialRepresentation_Type">
        <sequence>
          <element name="checkPointAvailability" type="gco:Boolean_PropertyType" id="ISO19115-1.154_ISO19103.Boolean">
            <annotation>
              <documentation>indication of whether or not geographic position points are available to test the accuracy of the georeferenced grid data</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="checkPointDescription" type="gco:CharacterString_PropertyType" id="ISO19115-1.155_ISO19103.CharacterString">
            <annotation>
              <documentation>description of geographic position points used to test the accuracy of the georeferenced grid data</documentation>
            </annotation>
          </element>
          <element maxOccurs="4" minOccurs="2" name="cornerPoints" type="gml:PointPropertyType" id="ISO19115-1.156_GM_Point">
            <annotation>
              <documentation>earth location in the coordinate system defined by the Spatial Reference System and the grid coordinate of the cells at opposite ends of grid coverage along two diagonals in the grid spatial dimensions. There are four corner points in a georectified grid; at least two corner points along one diagonal are required. The first corner point corresponds to the origin of the grid.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="centrePoint" type="gml:PointPropertyType" id="ISO19115-1.157_GM_Point">
            <annotation>
              <documentation>earth location in the coordinate system defined by the Spatial Reference System and the grid coordinate of the cell halfway between opposite ends of the grid in the spatial dimensions</documentation>
            </annotation>
          </element>
          <element name="pointInPixel" type="msr:MD_PixelOrientationCode_PropertyType" id="ISO19115-1.158_ISO19115-1.MD_PixelOrientationCode">
            <annotation>
              <documentation>point in a pixel corresponding to the Earth location of the pixel</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="transformationDimensionDescription" type="gco:CharacterString_PropertyType" id="ISO19115-1.159_ISO19103.CharacterString">
            <annotation>
              <documentation>general description of the transformation</documentation>
            </annotation>
          </element>
          <element maxOccurs="2" minOccurs="0" name="transformationDimensionMapping" type="gco:CharacterString_PropertyType" id="ISO19115-1.160_ISO19103.CharacterString">
            <annotation>
              <documentation>information about which grid axes are the spatial (map) axes</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!-- ........................................................................ -->
  <complexType name="MD_Georectified_PropertyType">
    <sequence minOccurs="0">
      <element ref="msr:MD_Georectified"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <!-- =========================================================================== -->
  <element name="MD_Georeferenceable" substitutionGroup="msr:MD_GridSpatialRepresentation" type="msr:MD_Georeferenceable_Type" id="ISO19115-1.161">
    <annotation>
      <documentation>grid with cells irregularly spaced in any given geographic/map projection coordinate system, whose individual cells can be geolocated using geolocation information supplied with the data but cannot be geolocated from the grid properties alone</documentation>
    </annotation>
  </element>
  <!-- ........................................................................ -->
  <complexType name="MD_Georeferenceable_Type">
    <complexContent>
      <extension base="msr:MD_GridSpatialRepresentation_Type">
        <sequence>
          <element name="controlPointAvailability" type="gco:Boolean_PropertyType" id="ISO19115-1.162_ISO19103.Boolean">
            <annotation>
              <documentation>indication of whether or not control point(s) exists</documentation>
            </annotation>
          </element>
          <element name="orientationParameterAvailability" type="gco:Boolean_PropertyType" id="ISO19115-1.163_ISO19103.Boolean">
            <annotation>
              <documentation>indication of whether or not orientation parameters are available</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="orientationParameterDescription" type="gco:CharacterString_PropertyType" id="ISO19115-1.164_ISO19103.CharacterString">
            <annotation>
              <documentation>description of parameters used to describe sensor orientation</documentation>
            </annotation>
          </element>
          <element name="georeferencedParameters" type="gco:Record_PropertyType" id="ISO19115-1.165_ISO19103.Record">
            <annotation>
              <documentation>terms which support grid data georeferencing</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="parameterCitation" type="mcc:Abstract_Citation_PropertyType" id="ISO19115-1.166_ISO19115-1.361">
            <annotation>
              <documentation>reference providing description of the parameters</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!-- ........................................................................ -->
  <complexType name="MD_Georeferenceable_PropertyType">
    <sequence minOccurs="0">
      <element ref="msr:MD_Georeferenceable"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <!-- =========================================================================== -->
  <element name="MD_VectorSpatialRepresentation" substitutionGroup="msr:AbstractMD_SpatialRepresentation" type="msr:MD_VectorSpatialRepresentation_Type" id="ISO19115-1.167">
    <annotation>
      <documentation>information about the vector spatial objects in the resource</documentation>
    </annotation>
  </element>
  <!-- ........................................................................ -->
  <complexType name="MD_VectorSpatialRepresentation_Type">
    <complexContent>
      <extension base="msr:AbstractMD_SpatialRepresentation_Type">
        <sequence>
          <element minOccurs="0" name="topologyLevel" type="msr:MD_TopologyLevelCode_PropertyType" id="ISO19115-1.168_ISO19115-1.MD_TopologyLevelCode">
            <annotation>
              <documentation>code which identifies the degree of complexity of the spatial relationships</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="geometricObjects" type="msr:MD_GeometricObjects_PropertyType" id="ISO19115-1.168_ISO19115-1.176">
            <annotation>
              <documentation>information about the geometric objects used in the resource</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!-- ........................................................................ -->
  <complexType name="MD_VectorSpatialRepresentation_PropertyType">
    <sequence minOccurs="0">
      <element ref="msr:MD_VectorSpatialRepresentation"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <!-- =========================================================================== -->
  <element name="MD_Dimension" substitutionGroup="gco:AbstractObject" type="msr:MD_Dimension_Type" id="ISO19115-1.170">
    <annotation>
      <documentation>axis properties</documentation>
    </annotation>
  </element>
  <!-- ........................................................................ -->
  <complexType name="MD_Dimension_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="dimensionName" type="msr:MD_DimensionNameTypeCode_PropertyType" id="ISO19115-1.171_ISO19115-1.MD_DimensionNameTypeCode">
            <annotation>
              <documentation>name of the axis</documentation>
            </annotation>
          </element>
          <element name="dimensionSize" type="gco:Integer_PropertyType" id="ISO19115-1.172_ISO19103.Integer">
            <annotation>
              <documentation>number of elements along the axis</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="resolution" type="gco:Measure_PropertyType" id="ISO19115-1.173_ISO19103.Measure">
            <annotation>
              <documentation>degree of detail in the grid dataset</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="dimensionTitle" type="gco:CharacterString_PropertyType" id="ISO19115-1.174_ISO19103.CharacterString">
            <annotation>
              <documentation>enhancement/modifier of the dimension name EX for other time dimension 'runtime' or dimensionName = 'column' dimensionTitle = 'Longitude'</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="dimensionDescription" type="gco:CharacterString_PropertyType" id="ISO19115-1.175_ISO19103.CharacterString">
            <annotation>
              <documentation>Description of the axis</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!-- ........................................................................ -->
  <complexType name="MD_Dimension_PropertyType">
    <sequence minOccurs="0">
      <element ref="msr:MD_Dimension"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <!-- =========================================================================== -->
  <element name="MD_GeometricObjects" substitutionGroup="gco:AbstractObject" type="msr:MD_GeometricObjects_Type" id="ISO19115-1.176">
    <annotation>
      <documentation>number of objects, listed by geometric object type, used in the dataset</documentation>
    </annotation>
  </element>
  <!-- ........................................................................ -->
  <complexType name="MD_GeometricObjects_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="geometricObjectType" type="msr:MD_GeometricObjectTypeCode_PropertyType" id="ISO19115-1.177_ISO19115-1.MD_GeometricObjectTypeCode">
            <annotation>
              <documentation>name of point or vector objects used to locate zero-, one-, two-, or three-dimensional spatial locations in the dataset</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="geometricObjectCount" type="gco:Integer_PropertyType" id="ISO19115-1.178_ISO19103.Integer">
            <annotation>
              <documentation>total number of the point or vector object type occurring in the dataset</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!-- ........................................................................ -->
  <complexType name="MD_GeometricObjects_PropertyType">
    <sequence minOccurs="0">
      <element ref="msr:MD_GeometricObjects"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <!-- =========================================================================== -->
  <element name="MD_DimensionNameTypeCode" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type" id="ISO19115-1.B.3.17">
    <annotation>
      <documentation>name of the dimension</documentation>
    </annotation>
  </element>
  <!-- ........................................................................ -->
  <complexType name="MD_DimensionNameTypeCode_PropertyType">
    <sequence minOccurs="0">
      <element ref="msr:MD_DimensionNameTypeCode"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <!-- =========================================================================== -->
  <element name="MD_CellGeometryCode" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type" id="ISO19115-1.B.3.12">
    <annotation>
      <documentation>code indicating the geometry represented by the grid cell value</documentation>
    </annotation>
  </element>
  <!-- ........................................................................ -->
  <complexType name="MD_CellGeometryCode_PropertyType">
    <sequence minOccurs="0">
      <element ref="msr:MD_CellGeometryCode"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <!-- =========================================================================== -->
  <element name="MD_GeometricObjectTypeCode" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type" id="ISO19115-1.B.3.18">
    <annotation>
      <documentation>name of point or vector objects used to locate zero-, one-, two-, or three-dimensional spatial locations in the dataset</documentation>
    </annotation>
  </element>
  <!-- ........................................................................ -->
  <complexType name="MD_GeometricObjectTypeCode_PropertyType">
    <sequence minOccurs="0">
      <element ref="msr:MD_GeometricObjectTypeCode"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <!-- =========================================================================== -->
  <element name="MD_PixelOrientationCode" substitutionGroup="gco:CharacterString" type="msr:MD_PixelOrientationCode_Type" id="ISO19115-1.B.3.24">
    <annotation>
      <documentation>point in a pixel corresponding to the Earth location of the pixel</documentation>
    </annotation>
  </element>
  <!-- ........................................................................ -->
  <simpleType name="MD_PixelOrientationCode_Type">
    <annotation>
      <documentation>point in a pixel corresponding to the Earth location of the pixel</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="centre">
        <annotation>
          <documentation>point halfway between the lower left and the upper right of the pixel</documentation>
        </annotation>
      </enumeration>
      <enumeration value="lowerLeft">
        <annotation>
          <documentation>the corner in the pixel closest to the origin of the SRS; if two are at the same distance from the origin, the one with the smallest x-value</documentation>
        </annotation>
      </enumeration>
      <enumeration value="lowerRight">
        <annotation>
          <documentation>next corner counterclockwise from the lower left</documentation>
        </annotation>
      </enumeration>
      <enumeration value="upperRight">
        <annotation>
          <documentation>next corner counterclockwise from the lower right</documentation>
        </annotation>
      </enumeration>
      <enumeration value="upperLeft">
        <annotation>
          <documentation>next corner counterclockwise from the upper right</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <!-- ........................................................................ -->
  <complexType name="MD_PixelOrientationCode_PropertyType">
    <sequence minOccurs="0">
      <element ref="msr:MD_PixelOrientationCode"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <!-- =========================================================================== -->
  <element name="MD_TopologyLevelCode" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type" id="ISO19115-1.B.3.31">
    <annotation>
      <documentation>degree of complexity of the spatial relationships</documentation>
    </annotation>
  </element>
  <!-- ........................................................................ -->
  <complexType name="MD_TopologyLevelCode_PropertyType">
    <sequence minOccurs="0">
      <element ref="msr:MD_TopologyLevelCode"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <!-- =========================================================================== -->
</schema>
