ckanext/spatial/validation/xml/iso19139ngdc/EML/eml-2.1.0/eml-literature.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:doc="eml://ecoinformatics.org/documentation-2.1.0" xmlns:rp="eml://ecoinformatics.org/party-2.1.0" xmlns:cov="eml://ecoinformatics.org/coverage-2.1.0" xmlns:res="eml://ecoinformatics.org/resource-2.1.0" xmlns:acc="eml://ecoinformatics.org/access-2.1.0" xmlns:proj="eml://ecoinformatics.org/project-2.1.0" xmlns="eml://ecoinformatics.org/literature-2.1.0" targetNamespace="eml://ecoinformatics.org/literature-2.1.0">
  <xs:import namespace="eml://ecoinformatics.org/documentation-2.1.0" schemaLocation="eml-documentation.xsd"/>
  <xs:import namespace="eml://ecoinformatics.org/resource-2.1.0" schemaLocation="eml-resource.xsd"/>
  <xs:import namespace="eml://ecoinformatics.org/coverage-2.1.0" schemaLocation="eml-coverage.xsd"/>
  <xs:import namespace="eml://ecoinformatics.org/party-2.1.0" schemaLocation="eml-party.xsd"/>
  <xs:import namespace="eml://ecoinformatics.org/access-2.1.0" schemaLocation="eml-access.xsd"/>
  <xs:import namespace="eml://ecoinformatics.org/project-2.1.0" schemaLocation="eml-project.xsd"/>
  <xs:annotation>
    <xs:documentation>
      '$RCSfile: eml-literature.xsd,v $'
       Copyright: 1997-2002 Regents of the University of California,
                            University of New Mexico, and
                            Arizona State University
        Sponsors: National Center for Ecological Analysis and Synthesis and
                  Partnership for Interdisciplinary Studies of Coastal Oceans,
                     University of California Santa Barbara
                  Long-Term Ecological Research Network Office,
                     University of New Mexico
                  Center for Environmental Studies, Arizona State University
   Other funding: National Science Foundation (see README for details)
                  The David and Lucile Packard Foundation
     For Details: http://knb.ecoinformatics.org/

        '$Author: obrien $'
          '$Date: 2009/02/25 23:51:54 $'
      '$Revision: 1.61 $'

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
    </xs:documentation>
    <xs:appinfo>
      <doc:moduleDocs>
        <doc:moduleName>eml-literature</doc:moduleName>
        <doc:moduleDescription>
          <section xmlns="">
            <title>
              The eml-literature module - Citation specific
              information
            </title>
            <para>
              The eml-literature module contains information that describes
              literature resources. It is intended to provide overview
              information about the literature citation, including title,
              abstract, keywords, and contacts. Citation types follow the
              conventions laid out by
              <ulink url="http://www.endnote.com">EndNote</ulink>,
              and there is an attempt to
              represent a compatible subset of the EndNote citation types.
              These citation types include: article, book, chapter, edited
              book, manuscript, report, thesis, conference proceedings,
              personal communication, map, generic, audio visual, and
              presentation.  The "generic" citation type would be
              used when one of the other types will not work.
            </para>
            <para>
              The eml-literature module, like other modules, may be
              "referenced" via the &lt;references&gt; tag.  This
              allows a citation to be described once, and then used as a
              reference in other locations within the EML document via its ID.
            </para>
          </section>
        </doc:moduleDescription>
        <doc:recommendedUsage>All datasets with literary
        citations</doc:recommendedUsage>
        <doc:standAlone>yes</doc:standAlone>
      </doc:moduleDocs>
    </xs:appinfo>
  </xs:annotation>
  <xs:element name="citation" type="CitationType">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>Literature Citation</doc:tooltip>
        <doc:summary>Information describing a literature
        resource.</doc:summary>
        <doc:description>The citation element contains general information
        about a literature resource that is being documented, or a piece of
        literature that is being cited in support of a given resource, such as
        a dataset. It contains sub-elements that are specific to a literature
        resource such as a book, a journal article, a thesis, etc. It extends
        the generic resource elements with literature specific
        fields.</doc:description>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="CitationType">
    <xs:choice>
      <xs:sequence>
        <xs:group ref="res:ResourceGroup"/>
        <xs:element name="contact" type="rp:ResponsibleParty" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip>Contact</doc:tooltip>
              <doc:summary>An optional contact individual for this citation</doc:summary>
              <doc:description>The contact field contains information about an alternate person to be contacted 
              about this citation. Usually, the first author serves as the contact for a citation resource, e.g., a reprint request. In some cases, an alternate individual(s) may serve that function, and can be indicated here. Since contact is of the type rp:ResponsibleParty, a reference may be used.</doc:description>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:choice>
          <xs:element name="article" type="Article">
            <xs:annotation>
              <xs:appinfo>
                <doc:tooltip>article</doc:tooltip>
                <doc:summary>Information for full citation of a journal article
                or other periodical article.</doc:summary>
                <doc:description>The article field provides sub-fields for a
                full citation of an article in a journal or other
                periodical.</doc:description>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="book" type="Book">
            <xs:annotation>
              <xs:appinfo>
                <doc:tooltip>Book</doc:tooltip>
                <doc:summary>Information for full citation of a
                book</doc:summary>
                <doc:description>The book field provides sub-fields for a full
                citation of a book.</doc:description>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="chapter" type="Chapter">
            <xs:annotation>
              <xs:appinfo>
                <doc:tooltip>Book Chapter</doc:tooltip>
                <doc:summary>Information for citation of a chapter in a
                book</doc:summary>
                <doc:description>The book chapter allows citation of a single
                chapter or section of a book. The "creator" for a book chapter
                are the chapter's authors, while the "editor" is the book
                editors. Likewise, "title" is the chapter title, while
                "bookTitle" is the title of the whole book.</doc:description>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="editedBook" type="Book">
            <xs:annotation>
              <xs:appinfo>
                <doc:tooltip>Book</doc:tooltip>
                <doc:summary>Information for full citation of an edited
                book</doc:summary>
                <doc:description>The edited book represents a book which was
                edited by one or more editors, but whose chapters were possibly
                authored by others. The editors of an edited book should be
                listed in the "creator" field.</doc:description>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="manuscript" type="Manuscript">
            <xs:annotation>
              <xs:appinfo>
                <doc:tooltip>unpublished manuscipt</doc:tooltip>
                <doc:summary>Information about an unpublished
                manuscript</doc:summary>
                <doc:description>The manuscript field provides sub-fields for a
                full citation of an unpublished manuscript.</doc:description>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="report" type="Report">
            <xs:annotation>
              <xs:appinfo>
                <doc:tooltip>Report</doc:tooltip>
                <doc:summary>Information about a report published by an
                institution.</doc:summary>
                <doc:description>The report may be self published by the
                institution or through a publisher. They usually are available
                by request to the institution or can be purchased from the
                publisher.</doc:description>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="thesis" type="Thesis">
            <xs:annotation>
              <xs:appinfo>
                <doc:tooltip>Thesis as part of a degree</doc:tooltip>
                <doc:summary>Information about a thesis that has been written
                as part of a degree requirement and is frequently published in
                small numbers by the degree awarding institution.</doc:summary>
                <doc:description>Information about a thesis that has been
                written as part of a degree requirement and is frequently
                published in small numbers by the degree awarding
                institution.</doc:description>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="conferenceProceedings" type="ConferenceProceedings">
            <xs:annotation>
              <xs:appinfo>
                <doc:tooltip>conference proceedings</doc:tooltip>
                <doc:summary>The published notes, papers, presentations etc...
                of a conference.</doc:summary>
                <doc:description>The published notes, papers, presentations,
                etc..., of a conference.</doc:description>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="personalCommunication" type="PersonalCommunication">
            <xs:annotation>
              <xs:appinfo>
                <doc:tooltip>Personal communication</doc:tooltip>
                <doc:summary>A personal communication that has been saved
                online or as hard-copy.</doc:summary>
                <doc:description>This could be a widely distributed memo, an
                e-mail, a transcript from a conversation or interview,
                etc...</doc:description>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="map" type="Map">
            <xs:annotation>
              <xs:appinfo>
                <doc:tooltip>map</doc:tooltip>
                <doc:summary>This element describes the map that is being cited
                or cataloged.</doc:summary>
                <doc:description>This element describes the map that is being
                cited or cataloged, including its geographic coverage and
                scale.</doc:description>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="generic" type="Generic">
            <xs:annotation>
              <xs:appinfo>
                <doc:tooltip>Generic Citation</doc:tooltip>
                <doc:summary>This reference type was created for references
                that do not fit in to the other existing reference
                types</doc:summary>
                <doc:description>This reference type was created for references
                that do not fit in to the other existing reference
                types.</doc:description>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="audioVisual" type="AudioVisual">
            <xs:annotation>
              <xs:appinfo>
                <doc:tooltip>audio visual</doc:tooltip>
                <doc:summary>This reference type is meant to cover all forms of
                audio and visual media.</doc:summary>
                <doc:description>This reference type is meant to cover all
                forms of audio and visual media, including film, video,
                broadcast, other electronic media.</doc:description>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="presentation" type="Presentation">
            <xs:annotation>
              <xs:appinfo>
                <doc:tooltip>Unpublished Presentation</doc:tooltip>
                <doc:summary>An unpublished presentation from a conference,
                workshop, workgroup, symposium etc.</doc:summary>
                <doc:description>An unpublished presentation from a conference,
                workshop, workgroup, symposium, etc. It will be provided upon
                request in either in paper and/or electronic form. If the
                presentation was actually published in a proceedings, use the
                conferenceProceedings type instead.</doc:description>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      </xs:sequence>
      <xs:group ref="res:ReferencesGroup"/>
    </xs:choice>
    <xs:attribute name="id" type="res:IDType" use="optional"/>
    <xs:attribute name="system" type="res:SystemType" use="optional"/>
    <xs:attribute name="scope" type="res:ScopeType" use="optional" default="document"/>
  </xs:complexType>
  <xs:complexType name="Article">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>article</doc:tooltip>
        <doc:summary>Information for full citation of a journal article or
        other periodical article.</doc:summary>
        <doc:description>The article field provides sub-fields for a full
        citation of an article in a journal or other
        periodical.</doc:description>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="journal" type="res:NonEmptyStringType">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Journal Name</doc:tooltip>
            <doc:summary>The name of the journal, magazine, newspaper, zine,
            etc... in which the article was published.</doc:summary>
            <doc:description>The name of the journal, magazine, newspaper,
            zine, etc... in which the article was published.</doc:description>
            <doc:example>"Ecology"</doc:example>
            <doc:example>"New York Times"</doc:example>
            <doc:example>"Harper's"</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="volume" type="res:NonEmptyStringType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Journal Volume</doc:tooltip>
            <doc:summary>The volume of the journal in which the article
            appears</doc:summary>
            <doc:description>The volume field is used to describe the volume of
            the journal in which the article appears.</doc:description>
            <doc:example>"Volume I"</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="issue" type="res:NonEmptyStringType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Journal issue</doc:tooltip>
            <doc:summary>The issue of the journal in which the article
            appears</doc:summary>
            <doc:description>The issue field is used to describe the issue of
            the journal in which the article appears.</doc:description>
            <doc:example>November 2001</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="pageRange" type="res:NonEmptyStringType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Journal Pages</doc:tooltip>
            <doc:summary>The beginning and end page numbers of the journal
            article</doc:summary>
            <doc:description>The page range field is used for the beginning and
            ending pages of the journal article that is being
            documented.</doc:description>
            <doc:example>115-122</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="publisher" type="rp:ResponsibleParty" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Publisher</doc:tooltip>
            <doc:summary>Organization that actually publishes the
            article</doc:summary>
            <doc:description>The organization that physically puts together the
            article and publishes it.</doc:description>
            <doc:example>Harper Collins</doc:example>
            <doc:example>University Of California Press</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="publicationPlace" type="res:NonEmptyStringType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Publication Place</doc:tooltip>
            <doc:summary>The location at which the work was
            published.</doc:summary>
            <doc:description>The location at which the work was published. This
            is usually the name of the city in which the publishing house
            produced the work.</doc:description>
            <doc:example>New York</doc:example>
            <doc:example>London</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="ISSN" type="res:NonEmptyStringType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>International Standard Serial Number</doc:tooltip>
            <doc:summary>The unique Internation Standard Serial
            Number</doc:summary>
            <doc:description>The ISSN, or International Standard Serial Number
            that has been assigned to this literature
            resource.</doc:description>
            <doc:example>ISSN 1234-5679</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Book">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>Book</doc:tooltip>
        <doc:summary>Information for full citation of a book</doc:summary>
        <doc:description>The book field provides sub-fields for a full citation
        of a book.</doc:description>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="publisher" type="rp:ResponsibleParty">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Publisher</doc:tooltip>
            <doc:summary>Organization that actually publishes the
            book</doc:summary>
            <doc:description>The organization that physically puts together the
            book and publishes it.</doc:description>
            <doc:example>Harper Collins</doc:example>
            <doc:example>University Of California Press</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="publicationPlace" type="res:NonEmptyStringType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Publication Place</doc:tooltip>
            <doc:summary>The location at which the work was
            published.</doc:summary>
            <doc:description>The location at which the work was published. This
            is usually the name of the city in which the publishing house
            produced the work.</doc:description>
            <doc:example>New York</doc:example>
            <doc:example>London</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="edition" type="res:NonEmptyStringType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Book edition</doc:tooltip>
            <doc:summary>The edition of the book being described.</doc:summary>
            <doc:description>The edition field is to document the edition of
            the book that is being described.</doc:description>
            <doc:example>Second Edition</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="volume" type="res:NonEmptyStringType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Book volume</doc:tooltip>
            <doc:summary>The volume of the book that is part of a
            series.</doc:summary>
            <doc:description>The volume field is used to describe the volume
            number of a book that is part of a multi-volume series of
            books.</doc:description>
            <doc:example>Volume 2</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="numberOfVolumes" type="res:NonEmptyStringType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Number of Volumes</doc:tooltip>
            <doc:summary>Number of volumes in a collection</doc:summary>
            <doc:description>Number of volumes in a
            collection</doc:description>
            <doc:example>12</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="totalPages" type="res:NonEmptyStringType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Total book pages</doc:tooltip>
            <doc:summary>The total number of pages in the book.</doc:summary>
            <doc:description>The total pages field is used to describe the
            total number of pages in the book that is being
            described.</doc:description>
            <doc:example>628</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="totalFigures" type="res:NonEmptyStringType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Number of figures in book</doc:tooltip>
            <doc:summary>The total number of figures in the book.</doc:summary>
            <doc:description>the total figures field is used to describe the
            total number of figures, diagrams, and plates in the book that is
            being documented.</doc:description>
            <doc:example>45</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="totalTables" type="res:NonEmptyStringType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Number of tables in book</doc:tooltip>
            <doc:summary>The total number of tables in a book.</doc:summary>
            <doc:description>The total tables field is used to describe the
            total number of tables that are present in the book that is being
            documented.</doc:description>
            <doc:example>10</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="ISBN" type="res:NonEmptyStringType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>International Standard Book Number</doc:tooltip>
            <doc:summary>The unique Internation Standard Book
            Number</doc:summary>
            <doc:description>The ISBN, or International Standard Book Number
            that has been assigned to this literature
            resource.</doc:description>
            <doc:example>ISBN 1-861003-11-0</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Chapter">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>Book Chapter</doc:tooltip>
        <doc:summary>Information for citation of a chapter in a
        book</doc:summary>
        <doc:description>The book chapter allows citation of a single chapter
        or section of a book. The "creator" for a book chapter are the
        chapter's authors, while the "editor" is the book editors. Likewise,
        "title" is the chapter title, while "bookTitle" is the title of the
        whole book.</doc:description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Book">
        <xs:sequence>
          <xs:element name="chapterNumber" type="res:NonEmptyStringType" minOccurs="0">
            <xs:annotation>
              <xs:appinfo>
                <doc:tooltip>Chapter number</doc:tooltip>
                <doc:summary>The chapter number of interest within a
                book</doc:summary>
                <doc:description>The chapter number of the chapter of a book
                that is being described.</doc:description>
                <doc:example>7</doc:example>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="editor" type="rp:ResponsibleParty" maxOccurs="unbounded">
            <xs:annotation>
              <xs:appinfo>
                <doc:tooltip>Book editor</doc:tooltip>
                <doc:summary>The name of the editor of the book.</doc:summary>
                <doc:description>The book editor field is used to document the
                name of the editor of the book that is being described. The
                editor may be a person, organization, or a role within an
                organization.</doc:description>
                <doc:example>Tom Christiansen</doc:example>
                <doc:example>Institute of Marine Science</doc:example>
                <doc:example>Publication Manager</doc:example>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="bookTitle" type="res:NonEmptyStringType">
            <xs:annotation>
              <xs:appinfo>
                <doc:tooltip>Book title</doc:tooltip>
                <doc:summary>The title of the book.</doc:summary>
                <doc:description>The book title field is used to document the
                title of the book that is being described.</doc:description>
                <doc:example>War and Peace</doc:example>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="pageRange" type="res:NonEmptyStringType" minOccurs="0">
            <xs:annotation>
              <xs:appinfo>
                <doc:tooltip>Chapter page range</doc:tooltip>
                <doc:summary>The beginning and ending page numbers of a
                chapter.</doc:summary>
                <doc:description>The page range field is used to document the
                beginning and ending pages of a chapter in a
                book.</doc:description>
                <doc:example>25-122</doc:example>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ConferenceProceedings">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>conference proceedings</doc:tooltip>
        <doc:summary>The published notes, papers, presentations etc... of a
        conference.</doc:summary>
        <doc:description>The published notes, papers, presentations, etc..., of
        a conference.</doc:description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Chapter">
        <xs:sequence>
          <xs:element name="conferenceName" type="res:NonEmptyStringType" minOccurs="0">
            <xs:annotation>
              <xs:appinfo>
                <doc:tooltip>Conference Name</doc:tooltip>
                <doc:summary>The name of the conference whose proceedings have
                been published.</doc:summary>
                <doc:description>The name of the conference whose proceedings
                have been published.</doc:description>
                <doc:example>North American Science Symposium</doc:example>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="conferenceDate" type="res:NonEmptyStringType" minOccurs="0">
            <xs:annotation>
              <xs:appinfo>
                <doc:tooltip>Conference Date</doc:tooltip>
                <doc:summary>The date the conference was held.</doc:summary>
                <doc:description>The date the conference was
                held.</doc:description>
                <doc:example>November 1-6, 1998</doc:example>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="conferenceLocation" type="rp:Address" minOccurs="0">
            <xs:annotation>
              <xs:appinfo>
                <doc:tooltip>Conference Location</doc:tooltip>
                <doc:summary>The location where the conference was
                held.</doc:summary>
                <doc:description>The location where the conference was
                held.</doc:description>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Manuscript">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>unpublished manuscipt</doc:tooltip>
        <doc:summary>Information about an unpublished manuscript</doc:summary>
        <doc:description>The manuscript field provides sub-fields for a full
        citation of an unpublished manuscript.</doc:description>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="institution" type="rp:ResponsibleParty" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Manuscript publication information</doc:tooltip>
            <doc:summary>The address and contact information needed to request
            a manuscript.</doc:summary>
            <doc:description>The institution information field is used to
            provide contact and address information that would be needed to
            request an unpublished manuscript</doc:description>
            <doc:example>Please see the individual sub-fields for specific
            examples.</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="totalPages" type="res:NonEmptyStringType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Total manuscript pages</doc:tooltip>
            <doc:summary>The total number of pages in the
            manuscript.</doc:summary>
            <doc:description>The total pages field is used to describe the
            total number of pages in the manuscript that is being
            described.</doc:description>
            <doc:example>628</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Report">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>Report</doc:tooltip>
        <doc:summary>Information about a report published by an
        institution.</doc:summary>
        <doc:description>The report may be self published by the institution or
        through a publisher. They usually are available by request to the
        institution or can be purchased from the publisher.</doc:description>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="reportNumber" type="res:NonEmptyStringType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Report Number</doc:tooltip>
            <doc:summary>The unique identification number assigned to the
            report.</doc:summary>
            <doc:description>The report number field is used to describe the
            unique identification number that has been issued by the report
            institution for the report being described.</doc:description>
            <doc:example>22</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="publisher" type="rp:ResponsibleParty" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Publisher</doc:tooltip>
            <doc:summary>Organization that actually publishes the
            report</doc:summary>
            <doc:description>The organization that physically put together the
            report and publishes it.</doc:description>
            <doc:example>Harper Collins</doc:example>
            <doc:example>University Of California Press</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="publicationPlace" type="res:NonEmptyStringType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Publication Place</doc:tooltip>
            <doc:summary>The location at which the work was
            published.</doc:summary>
            <doc:description>The location at which the work was published. This
            is usually the name of the city in which the publishing house
            produced the work.</doc:description>
            <doc:example>New York</doc:example>
            <doc:example>London</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="totalPages" type="res:NonEmptyStringType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Total report pages</doc:tooltip>
            <doc:summary>The total number of pages in the report.</doc:summary>
            <doc:description>The total pages field is used to describe the
            total number of pages in the report that is being
            described.</doc:description>
            <doc:example>628</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonalCommunication">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>Personal communication</doc:tooltip>
        <doc:summary>A personal communication that has been saved online or as
        hard-copy.</doc:summary>
        <doc:description>This could be a widely distributed memo, an e-mail, a
        transcript from a conversation or interview, etc...</doc:description>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="publisher" type="rp:ResponsibleParty" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Publisher</doc:tooltip>
            <doc:summary>Organization that actually publishes the
            communication</doc:summary>
            <doc:description>The organization that physically puts together the
            communication and publishes it.</doc:description>
            <doc:example>Harper Collins</doc:example>
            <doc:example>University Of California Press</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="publicationPlace" type="res:NonEmptyStringType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Publication Place</doc:tooltip>
            <doc:summary>The location at which the work was
            published.</doc:summary>
            <doc:description>The location at which the work was published. This
            is usually the name of the city in which the publishing house
            produced the work.</doc:description>
            <doc:example>New York</doc:example>
            <doc:example>London</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="communicationType" type="res:NonEmptyStringType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Type of communication</doc:tooltip>
            <doc:summary>The type of personal communication.</doc:summary>
            <doc:description>The type of personal communication. Could be an
            email, letter, memo, transcript of conversation either hardcopy or
            online.</doc:description>
            <doc:example>memo</doc:example>
            <doc:example>letter</doc:example>
            <doc:example>email</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="recipient" type="rp:ResponsibleParty" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Recipient</doc:tooltip>
            <doc:summary>Recipient of the communication</doc:summary>
            <doc:description>The person, place or thing the personal
            communication was sent to.</doc:description>
            <doc:example>Schmedley, Joe</doc:example>
            <doc:example>jschmedley@lternet.edu</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Map">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>map</doc:tooltip>
        <doc:summary>This element describes the map that is being cited or
        cataloged.</doc:summary>
        <doc:description>This element describes the map that is being cited or
        cataloged, including its geographic coverage and
        scale.</doc:description>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="publisher" type="rp:ResponsibleParty" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Publisher</doc:tooltip>
            <doc:summary>Organization that actually publishes the
            map</doc:summary>
            <doc:description>The organization that physically puts together the
            map and publishes it.</doc:description>
            <doc:example>Harper Collins</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="edition" type="res:NonEmptyStringType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Map edition</doc:tooltip>
            <doc:summary>The edition of the map being described.</doc:summary>
            <doc:description>The edition field is to document the edition of
            the map that is being described.</doc:description>
            <doc:example>Second Edition</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="geographicCoverage" type="cov:GeographicCoverage" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Geographic coverage</doc:tooltip>
            <doc:summary>Description of the geographic area which the map
            covers</doc:summary>
            <doc:description>This element describes the geographic area which
            the map covers. Could be descriptive text or Cartesian coordinates
            of the area.</doc:description>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="scale" type="res:NonEmptyStringType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Scale</doc:tooltip>
            <doc:summary>The Map's scale</doc:summary>
            <doc:description>The Map's scale</doc:description>
            <doc:example>1:25,000</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AudioVisual">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>audio visual</doc:tooltip>
        <doc:summary>This reference type is meant to cover all forms of audio
        and visual media.</doc:summary>
        <doc:description>This reference type is meant to cover all forms of
        audio and visual media, including film, video, broadcast, other
        electronic media.</doc:description>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="publisher" type="rp:ResponsibleParty">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Publisher</doc:tooltip>
            <doc:summary>Organization which actually distributes the video,
            film, the broadcaster etc...</doc:summary>
            <doc:description>Organization which actually distributes the video,
            film, the broadcaster etc...</doc:description>
            <doc:example>LTER Network Office</doc:example>
            <doc:example>Public Broadcasting</doc:example>
            <doc:example>Pacifica Radio</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="publicationPlace" type="res:NonEmptyStringType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Publication Place</doc:tooltip>
            <doc:summary>The location at which the work was
            published.</doc:summary>
            <doc:description>The location at which the work was published. This
            is usually the name of the city in which the publishing house
            produced the work.</doc:description>
            <doc:example>New York</doc:example>
            <doc:example>London</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="performer" type="rp:ResponsibleParty" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Performer</doc:tooltip>
            <doc:summary>The performers in the audio visual
            production</doc:summary>
            <doc:description>The performers involved in acting, narrating, or
            shown in the audio visual production.</doc:description>
            <doc:example>Jim Nabors</doc:example>
            <doc:example>Sir Lawrence Olivier</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="ISBN" type="res:NonEmptyStringType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>International Standard Book Number</doc:tooltip>
            <doc:summary>The unique Internation Standard Book
            Number</doc:summary>
            <doc:description>The ISBN, or International Standard Book Number
            that has been assigned to this literature
            resource.</doc:description>
            <doc:example>ISBN 1-861003-11-0</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Generic">
    <xs:sequence>
      <xs:element name="publisher" type="rp:ResponsibleParty">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Publisher</doc:tooltip>
            <doc:summary>Organization which actually publishes the
            reference</doc:summary>
            <doc:description>The organization which physically puts together
            the reference and publishes it.</doc:description>
            <doc:example>Harper Collins</doc:example>
            <doc:example>University Of California Press</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="publicationPlace" type="res:NonEmptyStringType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Publication Place</doc:tooltip>
            <doc:summary>The location at which the work was
            published.</doc:summary>
            <doc:description>The location at which the work was published. This
            is usually the name of the city in which the publishing house
            produced the work.</doc:description>
            <doc:example>New York</doc:example>
            <doc:example>London</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="referenceType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Reference Type</doc:tooltip>
            <doc:summary>The type of reference.</doc:summary>
            <doc:description>The reference type describes the type of reference
            this generic type is being used to represent.</doc:description>
            <doc:example>zine</doc:example>
            <doc:example>film</doc:example>
            <doc:example>radio program</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="volume" type="res:NonEmptyStringType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Reference volume</doc:tooltip>
            <doc:summary>The volume of the reference that is part of a
            series.</doc:summary>
            <doc:description>The volume field is used to describe the volume
            number of a reference that is part of a multi-volume series of
            references.</doc:description>
            <doc:example>Volume 2</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="numberOfVolumes" type="res:NonEmptyStringType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Number of Volumes</doc:tooltip>
            <doc:summary>Number of volumes in a collection</doc:summary>
            <doc:description>Number of volumes in a
            collection</doc:description>
            <doc:example>"12"</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="totalPages" type="res:NonEmptyStringType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Total reference pages</doc:tooltip>
            <doc:summary>The total number of pages in the
            references.</doc:summary>
            <doc:description>The total pages field is used to describe the
            total number of pages in the references that is being
            described.</doc:description>
            <doc:example>628</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="totalFigures" type="res:NonEmptyStringType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Number of figures in reference</doc:tooltip>
            <doc:summary>The total number of figures in the
            reference.</doc:summary>
            <doc:description>The total figures field is used to describe the
            total number of figures, diagrams, and plates in the reference that
            is being documented.</doc:description>
            <doc:example>45</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="totalTables" type="res:NonEmptyStringType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Number of tables in reference</doc:tooltip>
            <doc:summary>The total number of tables in a
            reference.</doc:summary>
            <doc:description>The total tables field is used to describe the
            total number of tables that are present in the reference that is
            being documented.</doc:description>
            <doc:example>10</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="edition" type="res:NonEmptyStringType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>edition</doc:tooltip>
            <doc:summary>The edition of the generic reference being
            described.</doc:summary>
            <doc:description>The edition field is to document the edition of
            the generic reference type that is being
            described.</doc:description>
            <doc:example>Second Edition</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="originalPublication" type="res:NonEmptyStringType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Original Publication</doc:tooltip>
            <doc:summary>References current publication to its
            original.</doc:summary>
            <doc:description>Supplemental information about the original
            publication of the current reference.</doc:description>
            <doc:example>Date</doc:example>
            <doc:example>Publisher</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="reprintEdition" type="res:NonEmptyStringType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Reprint Edition</doc:tooltip>
            <doc:summary>Reference for current edition that was originally
            published under a different title.</doc:summary>
            <doc:description>Reference for current edition that was originally
            published under a different title.</doc:description>
            <doc:example>Stream Research in the LTER Network,
            1993</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="reviewedItem" type="res:NonEmptyStringType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Reviewed Item</doc:tooltip>
            <doc:summary>Reference types that are reviews of other
            references.</doc:summary>
            <doc:description>Use for articles, chapters, audio visual, etc.
            that are critical review of books, cinema, art, or other
            works.</doc:description>
            <doc:example>Structure and Function of an Alpine Ecosystem Niwot
            Ridge, Colorado Edited by WILLIAM D. BOWMAN and TIMOTHY R.
            SEASTEDT, University of Colorado, Boulder</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:choice minOccurs="0">
        <xs:element name="ISBN" type="res:NonEmptyStringType">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip>International Standard Book Number</doc:tooltip>
              <doc:summary>The unique Internation Standard Book
              Number</doc:summary>
              <doc:description>The ISBN, or International Standard Book Number
              that has been assigned to this literature
              resource.</doc:description>
              <doc:example>ISBN 1-861003-11-0</doc:example>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="ISSN" type="res:NonEmptyStringType">
          <xs:annotation>
            <xs:appinfo>
              <doc:tooltip>International Standard Serial Number</doc:tooltip>
              <doc:summary>The unique Internation Standard Serial
              Number</doc:summary>
              <doc:description>The ISSN, or International Standard Serial
              Number that has been assigned to this literature
              resource.</doc:description>
              <doc:example>ISSN 1234-5679</doc:example>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Thesis">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>Thesis as part of a degree</doc:tooltip>
        <doc:summary>Information about a thesis that has been written as part
        of a degree requirement and is frequently published in small numbers by
        the degree awarding institution.</doc:summary>
        <doc:description>Information about a thesis that has been written as
        part of a degree requirement and is frequently published in small
        numbers by the degree awarding institution.</doc:description>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="degree" type="res:NonEmptyStringType">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Degee name</doc:tooltip>
            <doc:summary>The name or degree level for which the thesis was
            completed.</doc:summary>
            <doc:description>The degree field is used to describe the name or
            degree level for which the thesis was completed.</doc:description>
            <doc:example>Ph.D.</doc:example>
            <doc:example>M.S.</doc:example>
            <doc:example>Master of Science</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="institution" type="rp:ResponsibleParty">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Degree awarding institution</doc:tooltip>
            <doc:summary>The name of the degree-awarding
            institution</doc:summary>
            <doc:description>The degree institution field is used to name the
            institution from which the degree was awarded for the thesis being
            described.</doc:description>
            <doc:example>Western Washington University</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="totalPages" type="res:NonEmptyStringType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Thesis Pages</doc:tooltip>
            <doc:summary>The total number of pages in the thesis.</doc:summary>
            <doc:description>The total pages field is used to document the
            number of pages that are present in the thesis that is being
            described.</doc:description>
            <doc:example>356</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Presentation">
    <xs:annotation>
      <xs:appinfo>
        <doc:tooltip>Unpublished Presentation</doc:tooltip>
        <doc:summary>An unpublished presentation from a conference, workshop,
        workgroup, symposium, etc.</doc:summary>
        <doc:description>An unpublished presentation from a conference,
        workshop, workgroup, symposium, etc. It will be provided upon request
        in either in paper and/or electronic form by contacting the authors. If
        the presentation was actually published in a proceedings, use the
        conferenceProceedings type instead.</doc:description>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="conferenceName" type="res:NonEmptyStringType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Conference Name</doc:tooltip>
            <doc:summary>The name of the conference at which this presentation
            was given.</doc:summary>
            <doc:description>The name of the conference at which this
            presentation was given.</doc:description>
            <doc:example>North American Science Symposium</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="conferenceDate" type="res:NonEmptyStringType" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Conference Date</doc:tooltip>
            <doc:summary>The date the conference was held.</doc:summary>
            <doc:description>The date the conference was
            held.</doc:description>
            <doc:example>November 1-6, 1998</doc:example>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="conferenceLocation" type="rp:Address" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
            <doc:tooltip>Conference Location</doc:tooltip>
            <doc:summary>The location where the conference was
            held.</doc:summary>
            <doc:description>The location where the conference was
            held.</doc:description>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
