ckanext/spatial/validation/xml/iso19115-2/19115/-1/mda/1.3.0/metadataApplication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
  xmlns="http://www.w3.org/2001/XMLSchema"
  xmlns:gco="https://schemas.isotc211.org/19103/-/gco/1.2"
  xmlns:mda="https://schemas.isotc211.org/19115/-1/mda/1.3"
  xmlns:mdb="https://schemas.isotc211.org/19115/-1/mdb/1.3" 
  elementFormDefault="qualified"
  targetNamespace="https://schemas.isotc211.org/19115/-1/mda/1.3" 
  version="1.3.0"
    >
  <include schemaLocation="mda.xsd"/>
  <import namespace="https://schemas.isotc211.org/19103/-/gco/1.2" schemaLocation="../../../../19103/-/gco/1.2.0/gco.xsd"/>
  <import namespace="https://schemas.isotc211.org/19115/-1/mdb/1.3" schemaLocation="../../../../19115/-1/mdb/1.3.0/mdb.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element abstract="true" name="AbstractDS_Resource" substitutionGroup="gco:AbstractObject" type="mda:AbstractDS_Resource_Type" id="ISO19115-1.001">
    <annotation>
      <documentation>an identifiable asset or means that fulfils a requirement</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="AbstractDS_Resource_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element maxOccurs="unbounded" name="has" type="mdb:MD_Metadata_PropertyType" id="ISO19115-1.002_ISO19115-1.015"/>
          <element minOccurs="0" maxOccurs="unbounded" name="partOf" type="mda:AbstractDS_Aggregate_PropertyType" id="ISO19115-1.003_ISO19115-1.006"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractDS_Resource_PropertyType">
    <sequence minOccurs="0">
      <element ref="mda:AbstractDS_Resource"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <complexType name="AbstractDS_Aggregate_PropertyType">
    <sequence minOccurs="0">
      <element ref="mda:AbstractDS_Aggregate"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DS_DataSet" substitutionGroup="mda:AbstractDS_Resource" type="mda:DS_DataSet_Type" id="ISO19115-1.004">
    <annotation>
      <documentation>identifiable collection of data</documentation>
    </annotation>
  </element>
  <complexType name="DS_DataSet_Type">
    <complexContent>
      <extension base="mda:AbstractDS_Resource_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DS_DataSet_PropertyType">
    <sequence minOccurs="0">
      <element ref="mda:DS_DataSet"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="SV_Service" substitutionGroup="mda:AbstractDS_Resource" type="mda:SV_Service_Type" id="ISO19115-1.005">
    <annotation>
      <documentation>resource is a service</documentation>
    </annotation>
  </element>
  <complexType name="SV_Service_Type">
    <complexContent>
      <extension base="mda:AbstractDS_Resource_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SV_Service_PropertyType">
    <sequence minOccurs="0">
      <element ref="mda:SV_Service"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractDS_Aggregate" substitutionGroup="mda:AbstractDS_Resource" type="mda:AbstractDS_Aggregate_Type" id="ISO19115-1.006">
    <annotation>
      <documentation>collection of resources</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="AbstractDS_Aggregate_Type">
    <complexContent>
      <extension base="mda:AbstractDS_Resource_Type">
        <sequence>
          <element maxOccurs="unbounded" name="composedOf" type="mda:AbstractDS_Resource_PropertyType" id="ISO19115-1.006_ISO19115-1.007"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="DS_OtherAggregate" substitutionGroup="mda:AbstractDS_Aggregate" type="mda:DS_OtherAggregate_Type" id="ISO19115-1.008">
    <annotation>
      <documentation>collection of resource associated through inspecified means</documentation>
    </annotation>
  </element>
  <complexType name="DS_OtherAggregate_Type">
    <complexContent>
      <extension base="mda:AbstractDS_Aggregate_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DS_OtherAggregate_PropertyType">
    <sequence minOccurs="0">
      <element ref="mda:DS_OtherAggregate"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DS_StereoMate" substitutionGroup="mda:DS_OtherAggregate" type="mda:DS_StereoMate_Type" id="ISO19115-1.009">
    <annotation>
      <documentation>collection of associated resources related by their participation in a common
        initiative</documentation>
    </annotation>
  </element>
  <complexType name="DS_StereoMate_Type">
    <complexContent>
      <extension base="mda:DS_OtherAggregate_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DS_StereoMate_PropertyType">
    <sequence minOccurs="0">
      <element ref="mda:DS_StereoMate"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DS_Initiative" substitutionGroup="mda:AbstractDS_Aggregate" type="mda:DS_Initiative_Type" id="ISO19115-1.010">
    <annotation>
      <documentation>collection of associated resources related by their participation in a common
        initiative</documentation>
    </annotation>
  </element>
  <complexType name="DS_Initiative_Type">
    <complexContent>
      <extension base="mda:AbstractDS_Aggregate_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DS_Initiative_PropertyType">
    <sequence minOccurs="0">
      <element ref="mda:DS_Initiative"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DS_Series" substitutionGroup="mda:AbstractDS_Aggregate" type="mda:DS_Series_Type" id="ISO19115-1.011">
    <annotation>
      <documentation>collection of resource related by a common heritage adhering to a common
        specification</documentation>
    </annotation>
  </element>
  <complexType name="DS_Series_Type">
    <complexContent>
      <extension base="mda:AbstractDS_Aggregate_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DS_Series_PropertyType">
    <sequence minOccurs="0">
      <element ref="mda:DS_Series"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DS_Platform" substitutionGroup="mda:DS_Series" type="mda:DS_Platform_Type" id="ISO19115-1.012">
    <annotation>
      <documentation>collection of associated resources produced from the same sensor
        platform</documentation>
    </annotation>
  </element>
  <complexType name="DS_Platform_Type">
    <complexContent>
      <extension base="mda:DS_Series_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DS_Platform_PropertyType">
    <sequence minOccurs="0">
      <element ref="mda:DS_Platform"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DS_Sensor" substitutionGroup="mda:DS_Series" type="mda:DS_Sensor_Type" id="ISO19115-1.013">
    <annotation>
      <documentation>collection of associated resources produced by the same sensor</documentation>
    </annotation>
  </element>
  <complexType name="DS_Sensor_Type">
    <complexContent>
      <extension base="mda:DS_Series_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DS_Sensor_PropertyType">
    <sequence minOccurs="0">
      <element ref="mda:DS_Sensor"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DS_ProductionSeries" substitutionGroup="mda:DS_Series" type="mda:DS_ProductionSeries_Type" id="ISO19115-1.014">
    <annotation>
      <documentation>collection of associated resources produced to the same production
        specification</documentation>
    </annotation>
  </element>
  <complexType name="DS_ProductionSeries_Type">
    <complexContent>
      <extension base="mda:DS_Series_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DS_ProductionSeries_PropertyType">
    <sequence minOccurs="0">
      <element ref="mda:DS_ProductionSeries"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
