ckanext/spatial/validation/xml/iso19115-2/19115/-1/gex/1.3.0/extent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
  xmlns="http://www.w3.org/2001/XMLSchema"
  xmlns:gco="https://schemas.isotc211.org/19103/-/gco/1.2" 
  xmlns:rbc="https://schemas.isotc211.org/19111/-/rbc/3.1"
  xmlns:gmw="https://schemas.isotc211.org/19136/-1/gmw/1.1"
  xmlns:gex="https://schemas.isotc211.org/19115/-1/gex/1.3"
  xmlns:mcc="https://schemas.isotc211.org/19115/-1/mcc/1.3" 
  xmlns:gml="http://www.opengis.net/gml/3.2"
  targetNamespace="https://schemas.isotc211.org/19115/-1/gex/1.3"
  elementFormDefault="qualified" 
  version="1.3.0"
  >
  <!-- deprecated namespaces:
  xmlns:gts="http://www.isotc211.org/2005/gts"
  xmlns:rce="https://schemas.isotc211.org/19111/rce/1.0" -->
  <include schemaLocation="gex.xsd"/>
  <import namespace="https://schemas.isotc211.org/19111/-/rbc/3.1" schemaLocation="https://schemas.isotc211.org/19111/-/rbc/3.1.0/rbc.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/temporal.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <import namespace="https://schemas.isotc211.org/19136/-1/gmw/1.1" schemaLocation="../../../../19136/-1/gmw/1.1.0/gmw.xsd"/>
  <import namespace="https://schemas.isotc211.org/19103/-/gco/1.2" schemaLocation="../../../../19103/-/gco/1.2.0/gco.xsd"/>
   <import namespace="https://schemas.isotc211.org/19115/-1/mcc/1.3" schemaLocation="../../../../19115/-1/mcc/1.3.0/mcc.xsd"/>
  <!--  <import namespace="https://schemas.isotc211.org/19111/rce/1.0" schemaLocation="../../../../19111/rce/1.0.0/rce.xsd"/>-->
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <!-- =========================================================================== -->
  <element name="EX_Extent" substitutionGroup="mcc:Abstract_Extent" type="gex:EX_Extent_Type" id="ISO19115-1.335">
    <annotation>
      <documentation>extent of the resource</documentation>
    </annotation>
  </element>
  <!-- ........................................................................ -->
  <complexType name="EX_Extent_Type">
    <complexContent>
      <extension base="mcc:Abstract_Extent_Type">
        <sequence>
          <element minOccurs="0" name="description" type="gco:CharacterString_PropertyType" id="ISO19115-1.336_ISO19103.CharacterString">
            <annotation>
              <documentation>sets of points defining the bounding polygon or any other GM_Object geometry (point, line or polygon)</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="geographicElement" type="gex:AbstractEX_GeographicExtent_PropertyType" id="ISO19115-1.337_ISO19115-1.340"/>
          <element maxOccurs="unbounded" minOccurs="0" name="temporalElement" type="gex:EX_TemporalExtent_PropertyType" id="ISO19115-1.338_ISO19115-1.351"/>
          <element maxOccurs="unbounded" minOccurs="0" name="verticalElement" type="gex:EX_VerticalExtent_PropertyType" id="ISO19115-1.339_ISO19115-1.356"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!-- ........................................................................ -->
  <complexType name="EX_Extent_PropertyType">
    <sequence minOccurs="0">
      <element ref="gex:EX_Extent"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <!-- =========================================================================== -->
  <element abstract="true" name="AbstractEX_GeographicExtent" substitutionGroup="gco:AbstractObject" type="gex:AbstractEX_GeographicExtent_Type" id="ISO19115-1.340">
    <annotation>
      <documentation>spatial area of the resource</documentation>
    </annotation>
  </element>
  <!-- ........................................................................ -->
  <complexType abstract="true" name="AbstractEX_GeographicExtent_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element minOccurs="0" name="extentTypeCode" type="gco:Boolean_PropertyType" id="ISO19115-1.341_ISO19103.Boolean">
            <annotation>
              <documentation>indication of whether the geographic element encompasses an area covered by the data or an area where data is not present</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!-- ........................................................................ -->
  <complexType name="AbstractEX_GeographicExtent_PropertyType">
    <sequence minOccurs="0">
      <element ref="gex:AbstractEX_GeographicExtent"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <!-- =========================================================================== -->
  <element name="EX_BoundingPolygon" substitutionGroup="gex:AbstractEX_GeographicExtent" type="gex:EX_BoundingPolygon_Type" id="ISO19115-1.342">
    <annotation>
      <documentation>enclosing geometric object which locates the resource, expressed as a set of (x,y) coordinate (s) NOTE: If a polygon is used it should be closed (last point replicates first point)</documentation>
    </annotation>
  </element>
  <!-- ........................................................................ -->
  <complexType name="EX_BoundingPolygon_Type">
    <complexContent>
      <extension base="gex:AbstractEX_GeographicExtent_Type">
        <sequence>
          <element maxOccurs="unbounded" name="polygon" type="gml:GeometryPropertyType" id="ISO19115-1.343_Geometry">
            <annotation>
              <documentation>sets of points defining the bounding polygon or any other GM_Object geometry (point, line or polygon)</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!-- ........................................................................ -->
  <complexType name="EX_BoundingPolygon_PropertyType">
    <sequence minOccurs="0">
      <element ref="gex:EX_BoundingPolygon"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <!-- =========================================================================== -->
  <element name="EX_GeographicBoundingBox" substitutionGroup="gex:AbstractEX_GeographicExtent" type="gex:EX_GeographicBoundingBox_Type" id="ISO19115-1.344">
    <annotation>
      <documentation>geographic position of the resource NOTE: This is only an approximate reference so specifying the coordinate reference system is unnecessary and need only be provided with a precision of up to two decimal places</documentation>
    </annotation>
  </element>
  <!-- ........................................................................ -->
  <complexType name="EX_GeographicBoundingBox_Type">
    <complexContent>
      <extension base="gex:AbstractEX_GeographicExtent_Type">
        <sequence>
          <element name="westBoundLongitude" type="gco:Decimal_PropertyType" id="ISO19115-1.345_ISO19103.Decimal">
            <annotation>
              <documentation>western-most coordinate of the limit of the resource extent, expressed in longitude in decimal degrees (positive east)</documentation>
            </annotation>
          </element>
          <element name="eastBoundLongitude" type="gco:Decimal_PropertyType" id="ISO19115-1.346_ISO19103.Decimal">
            <annotation>
              <documentation>eastern-most coordinate of the limit of the resource extent, expressed in longitude in decimal degrees (positive east)</documentation>
            </annotation>
          </element>
          <element name="southBoundLatitude" type="gco:Decimal_PropertyType" id="ISO19115-1.347_ISO19103.Decimal">
            <annotation>
              <documentation>southern-most coordinate of the limit of the resource extent, expressed in latitude in decimal degrees (positive north)</documentation>
            </annotation>
          </element>
          <element name="northBoundLatitude" type="gco:Decimal_PropertyType" id="ISO19115-1.348_ISO19103.Decimal">
            <annotation>
              <documentation>northern-most, coordinate of the limit of the resource extent expressed in latitude in decimal degrees (positive north)</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!-- ........................................................................ -->
  <complexType name="EX_GeographicBoundingBox_PropertyType">
    <sequence minOccurs="0">
      <element ref="gex:EX_GeographicBoundingBox"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <!-- =========================================================================== -->
  <element name="EX_GeographicDescription" substitutionGroup="gex:AbstractEX_GeographicExtent" type="gex:EX_GeographicDescription_Type" id="ISO19115-1.349">
    <annotation>
      <documentation>description of the geographic area using identifiers</documentation>
    </annotation>
  </element>
  <!-- ........................................................................ -->
  <complexType name="EX_GeographicDescription_Type">
    <complexContent>
      <extension base="gex:AbstractEX_GeographicExtent_Type">
        <sequence>
          <element name="geographicIdentifier" type="mcc:MD_Identifier_PropertyType" id="ISO19115-1.350_ISO19115-1.431">
            <annotation>
              <documentation>identifier used to represent a geographic area e.g. a geographic identifier as described in ISO 19112</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!-- ........................................................................ -->
  <complexType name="EX_GeographicDescription_PropertyType">
    <sequence minOccurs="0">
      <element ref="gex:EX_GeographicDescription"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <!-- =========================================================================== -->
  <element name="EX_TemporalExtent" substitutionGroup="gco:AbstractObject" type="gex:EX_TemporalExtent_Type" id="ISO19115-1.351">
    <annotation>
      <documentation>time period covered by the content of the resource</documentation>
    </annotation>
  </element>
  <!-- ........................................................................ -->
  <complexType name="EX_TemporalExtent_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="extent" type="gml:TimePrimitivePropertyType" id="ISO19115-1.352_TimePrimitive">
            <annotation>
              <documentation>period for the content of the resource</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!-- ........................................................................ -->
  <complexType name="EX_TemporalExtent_PropertyType">
    <sequence minOccurs="0">
      <element ref="gex:EX_TemporalExtent"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <!-- =========================================================================== -->
  <element name="EX_SpatialTemporalExtent" substitutionGroup="gex:EX_TemporalExtent" type="gex:EX_SpatialTemporalExtent_Type" id="ISO19115-1.353">
    <annotation>
      <documentation>extent with respect to date/time and spatial boundaries</documentation>
    </annotation>
  </element>
  <!-- ........................................................................ -->
  <complexType name="EX_SpatialTemporalExtent_Type">
    <complexContent>
      <extension base="gex:EX_TemporalExtent_Type">
        <sequence>
          <element minOccurs="0" name="verticalExtent" type="gex:EX_VerticalExtent_PropertyType" id="ISO19115-1.354_ISO19115-1.356">
            <annotation>
              <documentation>vertical extent component</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="spatialExtent" type="gex:AbstractEX_GeographicExtent_PropertyType" id="ISO19115-1.355_ISO19115-1.340"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!-- ........................................................................ -->
  <complexType name="EX_SpatialTemporalExtent_PropertyType">
    <sequence minOccurs="0">
      <element ref="gex:EX_SpatialTemporalExtent"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <!-- =========================================================================== -->
  <element name="EX_VerticalExtent" substitutionGroup="gco:AbstractObject" type="gex:EX_VerticalExtent_Type" id="ISO19115-1.356">
    <annotation>
      <documentation>vertical domain of resource</documentation>
    </annotation>
  </element>
  <!-- ........................................................................ -->
  <complexType name="EX_VerticalExtent_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <!-- Order Change to align with UML implementation model sequenceNumber-->
          <element name="minimumValue" type="gco:Real_PropertyType" id="ISO19115-1.357_ISO19103.Real">
            <annotation>
              <documentation>lowest vertical extent contained in the resource</documentation>
            </annotation>
          </element>
          <element name="maximumValue" type="gco:Real_PropertyType" id="ISO19115-1.358_ISO19103.Real">
            <annotation>
              <documentation>highest vertical extent contained in the resource</documentation>
            </annotation>
          </element>
          <!-- moved to 360 -->
          <!-- <element minOccurs="0" name="verticalCRSId" type="mcc:Abstract_ReferenceSystem_PropertyType" id="ISO19115-1.360_ISO19115-1.179"/> -->
          <!-- moved to 359 -->
          <!-- <element minOccurs="0" name="verticalCRS" type="gml:CRSPropertyType" id="ISO19115-1.359_CRS"/> -->
          <!-- Moved to align with ISO 19115-1:2014 data dictionary-->
          <element minOccurs="0" name="verticalCRS" type="rbc:RS_CRS_PropertyType" id="ISO19115-1.359_ISO19111.Table12"/>
          <!-- Moved to align with ISO 19115-1:2014 data dictionary-->
          <element minOccurs="0" name="verticalCRSId" type="mcc:Abstract_ReferenceSystem_PropertyType" id="ISO19115-1.360_ISO19115-1.179"/>
         </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!-- ........................................................................ -->
  <complexType name="EX_VerticalExtent_PropertyType">
    <sequence minOccurs="0">
      <element ref="gex:EX_VerticalExtent"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <!-- =========================================================================== -->
</schema>
