ckanext/spatial/validation/xml/iso19115-2/19115/-1/mpc/1.3.0/portrayalCatalogue.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
  xmlns="http://www.w3.org/2001/XMLSchema"
  xmlns:gco="https://schemas.isotc211.org/19103/-/gco/1.2"
  xmlns:mcc="https://schemas.isotc211.org/19115/-1/mcc/1.3"
  xmlns:mpc="https://schemas.isotc211.org/19115/-1/mpc/1.3"
  elementFormDefault="qualified"
  targetNamespace="https://schemas.isotc211.org/19115/-1/mpc/1.3"
  version="1.3.0"
    >
  <include schemaLocation="mpc.xsd"/>
  <import namespace="https://schemas.isotc211.org/19103/-/gco/1.2" schemaLocation="../../../../19103/-/gco/1.2.0/gco.xsd"/>
  <import namespace="https://schemas.isotc211.org/19115/-1/mcc/1.3" schemaLocation="../../../../19115/-1/mcc/1.3.0/mcc.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <!-- =========================================================================== -->
  <element name="MD_PortrayalCatalogueReference" substitutionGroup="mcc:Abstract_PortrayalCatalogueInformation" type="mpc:MD_PortrayalCatalogueReference_Type" id="ISO19115-1.235">
    <annotation>
      <documentation>information identifying the portrayal catalogue used</documentation>
    </annotation>
  </element>
  <!-- ........................................................................ -->
  <complexType name="MD_PortrayalCatalogueReference_Type">
    <complexContent>
      <extension base="mcc:Abstract_PortrayalCatalogueInformation_Type">
        <sequence>
          <element maxOccurs="unbounded" name="portrayalCatalogueCitation" type="mcc:Abstract_Citation_PropertyType" id="ISO19115-1.236_ISO19115-1.361">
            <annotation>
              <documentation>bibliographic reference to the portrayal catalogue
                cited</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
    <!-- ........................................................................ -->
  </complexType>
  <complexType name="MD_PortrayalCatalogueReference_PropertyType">
    <sequence minOccurs="0">
      <element ref="mpc:MD_PortrayalCatalogueReference"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <!-- =========================================================================== -->
</schema>
