ckanext/spatial/validation/xml/iso19115-2/19115/-1/lan/1.3.0/language.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
  xmlns="http://www.w3.org/2001/XMLSchema"
  xmlns:cit="https://schemas.isotc211.org/19115/-1/cit/1.3"
  xmlns:gco="https://schemas.isotc211.org/19103/-/gco/1.2"
  xmlns:lan="https://schemas.isotc211.org/19115/-1/lan/1.3" 
  targetNamespace="https://schemas.isotc211.org/19115/-1/lan/1.3" 
  elementFormDefault="qualified"
  version="1.3.0"
  >
  <include schemaLocation="lan.xsd"/>
  <import namespace="https://schemas.isotc211.org/19103/-/gco/1.2" schemaLocation="../../../../19103/-/gco/1.2.0/gco.xsd"/>
  <import namespace="https://schemas.isotc211.org/19115/-1/cit/1.3" schemaLocation="../../../../19115/-1/cit/1.3.0/cit.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <!-- hand-craft adjustments starting at line 29 and 71. ShapeChange does not have rules for 
  implementing language localisation according to ISO19139  -->
  <!-- =========================================================================== -->
  <!-- Hand crafted.  MAKE FIXES BASED ON gmd freeText.xsd  2014-08-21 SMR -->
  <element name="PT_FreeText" substitutionGroup="gco:AbstractObject" type="lan:PT_FreeText_Type" id="ISO19115-1.443"/>
  <!-- ........................................................................ -->
  <complexType name="PT_FreeText_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element maxOccurs="unbounded" name="textGroup" type="lan:LocalisedCharacterString_PropertyType" id="ISO19115-1.444_ISO19115-1.455"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!-- ........................................................................ -->
  <!-- PT_FreeText can't substitute for CharacterString because that is a simple type; have to extend the property type
      so that instance docs will still have a CharacterString Element, and a textGroup with localisedCharacterStrings-->
  <complexType name="PT_FreeText_PropertyType">
    <complexContent>
      <extension base="gco:CharacterString_PropertyType">
        <sequence minOccurs="0">
          <element ref="lan:PT_FreeText"/>
        </sequence>
        <!--   <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>-->
      </extension>
    </complexContent>
  </complexType>
  <!-- =========================================================================== -->
  <!-- hand craft, copy from gmd freeText.xsd, following ISO 19139 -->
  <!--  <element name="LocalisedCharacterString" substitutionGroup="gco:AbstractObject" type="lan:LocalisedCharacterString_Type"/> -->
  <element name="LocalisedCharacterString" type="lan:LocalisedCharacterString_Type" substitutionGroup="gco:CharacterString" id="ISO19115-1.445"/>
    <complexType name="LocalisedCharacterString_Type">
    <simpleContent>
      <extension base="string">
        <attribute name="id" type="ID"/>
        <attribute name="locale" type="anyURI"/>
      </extension>
    </simpleContent>
  </complexType>
  <!--   
  <element name="LocalisedCharacterString" type="lan:LocalisedCharacterString_Type" id="ISO19115-1.445"/>
 -->
  <!-- ........................................................................ -->  
  <!--
    <complexType name="LocalisedCharacterString_Type">
    <complexContent>
      <extension base="gco:CharacterString_Type">
        <sequence>
          <element name="locale" type="lan:PT_Locale_PropertyType"  id="ISO19115-1.446_ISO19115-1.447"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
   -->
  <!-- ........................................................................ -->
  <complexType name="LocalisedCharacterString_PropertyType">
    <sequence minOccurs="0">
      <element ref="lan:LocalisedCharacterString"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <!-- =========================================================================== -->
  <element name="PT_Locale" substitutionGroup="gco:AbstractObject" type="lan:PT_Locale_Type" id="ISO19115-1.447"/>
  <!-- ........................................................................ -->
  <complexType name="PT_Locale_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="language" type="lan:LanguageCode_PropertyType" id="ISO19115-1.448_ISO19115-1.LanguageCode"/>
          <element minOccurs="0" name="country" type="lan:CountryCode_PropertyType" id="ISO19115-1.449_ISO19115-1.CountryCode"/>
          <element name="characterEncoding" type="lan:MD_CharacterSetCode_PropertyType" id="ISO19115-1.450_ISO19115-1.MD_CharacterSetCode"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!-- ........................................................................ -->
  <complexType name="PT_Locale_PropertyType">
    <sequence minOccurs="0">
      <element ref="lan:PT_Locale"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <!-- =========================================================================== -->
  <element name="PT_LocaleContainer" substitutionGroup="lan:PT_Locale" type="lan:PT_LocaleContainer_Type" id="ISO19115-1.451"/>
  <!-- ........................................................................ -->
  <complexType name="PT_LocaleContainer_Type">
    <complexContent>
      <extension base="lan:PT_Locale_Type">
        <sequence>
          <element name="description" type="gco:CharacterString_PropertyType" id="ISO19115-1.452_ISO19103.CharacterString"/>
          <element name="locale" type="lan:PT_Locale_PropertyType" id="ISO19115-1.453_ISO19115-1.447"/>
          <element maxOccurs="unbounded" name="date" type="cit:CI_Date_PropertyType" id="ISO19115-1.454_ISO19115-1.402"/>
          <element maxOccurs="unbounded" name="responsibleParty" type="cit:CI_Responsibility_PropertyType" id="ISO19115-1.455_ISO19115-1.376"/>
          <element maxOccurs="unbounded" name="localisedString" type="lan:LocalisedCharacterString_PropertyType" id="ISO19115-1.456_ISO19103.CharacterString"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!-- ........................................................................ -->
  <complexType name="PT_LocaleContainer_PropertyType">
    <sequence minOccurs="0">
      <element ref="lan:PT_LocaleContainer"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <!-- =========================================================================== -->
  <element name="CountryCode" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
  <!-- ........................................................................ -->
  <complexType name="CountryCode_PropertyType">
    <sequence minOccurs="0">
      <element ref="lan:CountryCode"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <!-- =========================================================================== -->
  <element name="LanguageCode" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
  <!-- ........................................................................ -->
  <complexType name="LanguageCode_PropertyType">
    <sequence minOccurs="0">
      <element ref="lan:LanguageCode"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>  
  <!-- =========================================================================== -->
  <element name="MD_CharacterSetCode" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
  <!-- ........................................................................ -->
  <complexType name="MD_CharacterSetCode_PropertyType">
    <sequence minOccurs="0">
      <element ref="lan:MD_CharacterSetCode"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <!-- =========================================================================== -->
</schema>
