ckanext/spatial/validation/xml/iso19115-2/19115/-1/mrs/1.3.1/referenceSystem.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema 
  xmlns="http://www.w3.org/2001/XMLSchema" 
  xmlns:gco="https://schemas.isotc211.org/19103/-/gco/1.2" 
  xmlns:mcc="https://schemas.isotc211.org/19115/-1/mcc/1.3" 
  xmlns:mrs="https://schemas.isotc211.org/19115/-1/mrs/1.3" 
  xmlns:rbc="https://schemas.isotc211.org/19111/-/rbc/3.1" 
  xmlns:gml="http://www.opengis.net/gml/3.2"
  elementFormDefault="qualified"
  targetNamespace="https://schemas.isotc211.org/19115/-1/mrs/1.3" 
  version="1.3.0"
    >
  <include schemaLocation="mrs.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <import namespace="https://schemas.isotc211.org/19111/-/rbc/3.1" schemaLocation="../../../../19111/-/rbc/3.1.0/rbc.xsd"/>
  <import namespace="https://schemas.isotc211.org/19103/-/gco/1.2" schemaLocation="../../../../19103/-/gco/1.2.0/gco.xsd"/>
  <import namespace="https://schemas.isotc211.org/19115/-1/mcc/1.3" schemaLocation="../../../../19115/-1/mcc/1.3.0/mcc.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <!-- =========================================================================== -->
  <element name="MD_ReferenceSystem" substitutionGroup="mcc:Abstract_ReferenceSystem" type="mrs:MD_ReferenceSystem_Type" id="ISO19115-1.179">
    <annotation>
      <documentation>information about the reference system</documentation>
    </annotation>
  </element>
  <!-- ........................................................................ -->
  <complexType name="MD_ReferenceSystem_Type">
    <complexContent>
      <extension base="mcc:Abstract_ReferenceSystem_Type">
        <sequence>
          <element minOccurs="0" name="referenceSystemIdentifier" type="mcc:MD_Identifier_PropertyType" id="ISO19115-1.180_ISO19115-1.431">
            <annotation>
              <documentation>identifier and codespace for reference systeme.g. EPSG::4326</documentation>
              <documentation>Condition: At least one of referenceSystemIdentifier or crs is required</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="crs" type="gml:CRSPropertyType" id="ISO19115-1.180.1_ISO19111.CRS">
            <annotation>
              <documentation>full description of the coordinate reference system to which a coordinate set is referenced</documentation>
              <documentation>Condition: At least one of referenceSystemIdentifier or crs is required</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="coordinateEpoch" type="rbc:RS_DataEpoch_PropertyType" id="ISO19115-1.180.2_ISO19111.DataEpoch">
            <annotation>
              <documentation>epoch at which a coordinate set to a dynamic CRS is valid</documentation>
              <documentation>Condition: Reqired if the CRS is dynamic, otherwise should not be given</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="referenceSystemType" type="mrs:MD_ReferenceSystemTypeCode_PropertyType" id="ISO19115-1.181_ISO19115-1.MD_ReferenceSystemTypeCode">
            <annotation>
              <documentation>type of reference system identifiede.g. geographic2D</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <!-- ........................................................................ -->
  <complexType name="MD_ReferenceSystem_PropertyType">
    <sequence minOccurs="0">
      <element ref="mrs:MD_ReferenceSystem"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <!-- =========================================================================== -->
  <element name="MD_ReferenceSystemTypeCode" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type" id="ISO19115-1.B.3.26">
    <annotation>
      <documentation>defines type of reference system used</documentation>
    </annotation>
  </element>
  <!-- ........................................................................ -->
  <complexType name="MD_ReferenceSystemTypeCode_PropertyType">
    <sequence minOccurs="0">
      <element ref="mrs:MD_ReferenceSystemTypeCode"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <!-- =========================================================================== -->
</schema>
